@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
  
.registration-container {
    margin: 2rem auto;
    padding: 2rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .registration-form .input-group {
    margin-bottom: 1rem;
  }
  
  .registration-form .input-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .registration-form .input-group input {
    width: 100%;
    padding-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  